[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
reportlab = "==4.2.*"

[dev-packages]
black = "==24.4.*"
isort = "*"
detect-secrets = "==1.5.0"

[requires]
python_version = "3.9"
